@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* общие стили */
body {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.button-information {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.button-information-active {
  background: #000000;
  color: #FFE17F;
}

/* header */
.page-header {
  background: #FFE17F;
}

.search-field, .search-button {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
}

.navigation-list {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.link-exit {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.3;
  color: #000000;
  text-decoration: none;
}

/* main */
/* slider*/
.slider-information-number {
  background: #FFE17F;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-information-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-information-text {
  color: #444444;
}

.slider-information-specifications th {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.slider-information-specifications td {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color:#000000;
}

/* categories */

.categories-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

/* services */
.services {
  background: #F0F0F0;
}
.services-information-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-information-text {
  color: #444444;
}

.delivery-vip {
  background: #F0F0F0;
}

.delivery-vip-text {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* about-us */

.about-us-title, .contacts-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us-text {
  color:#444444;
}

.transport-item {
  color: #FFC700;
}

.transport-link {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.about-us-text, .contacts-text, .contacts-schedule {
  color: #444444;
}

.contacts-subtitle {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
  text-decoration: underline;
}

/* mailing */
.mailing {
  background: #F0F0F0;
}

.mailing-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.mailing-text {
  color: #444444;
}

.mailing-form input {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color:#444444;
  background: #F0F0F0;
}

.button-mailing {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.email-checkbox {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

/* footer */
.page-footer {
  background: #444444;
  color: #ffffff;
}

.footer-address-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer-navigation-link, .footer-social-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts-phone {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

/* catalog-header */
.catalog-header-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color:#000000;
  text-decoration: none;
}

/* filter */
.filter-cantainer {
  background: #F0F0F0;
}

.filter-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-filter-input {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.control-label {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* sorting */
.sorting-conteiner {
  background: #F0F0F0;
}

.sorting-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* product */
.product-link {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.product-pirce {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color:#444444;
}

.button-show-more {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
  background: #ffffff;
  border: 3px solid #E5E5E5;
}

/* breadcrumbs */
.pagination-list {
  background: #EBEBEB;
}

.pagination-link {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-text {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
